* {
  font-size: 20px;
  box-sizing: border-box;
  padding: 0 0;
  margin: 0;
  border: 1px solid red;
}

a {
  color: #00b7ff;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

.hero-image {
  background-image: url(../images/blog-hero-image.png);
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  margin: 0 auto;
}

.post-form {
  text-align: center;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  color: ;
}
