<main>
    <section>
        <h1>{{author.name}}</h1>
        <ul>
            {{#each author.posts}}
            <a href="/posts/{{_id}}">
                <li>{{title}}</li>
                <<img src="{{imageUrl}}" alt="Blog Picture">
                    </li>
            </a>
            {{/each}}
        </ul>
    </section>
</main>