<main>
    <section>
        <h1>{{category.category}}</h1>
        <ul>
            {{#each category.posts}}
            <a href="/posts/{{_id}}">
                <li>{{title}}</li>
                <li><img src="{{imageUrl}}" alt="Blog Picture"></li>
            </a>
            {{/each}}
        </ul>
    </section>
</main>