<main>
    <div class="hero-image">

        <form action="/tags/add" method="POST" class="CAT-form">
            <label><input type="text" name="tag" placeholder="Tags"></label>
            <button> New Tag </button>
        </form>
    </div>
    <ul>
        <div class="CAT-display">

            {{#each tags}}
            <li class="CAT-list-style">
                <a href="/tags/{{id}}">
                    <div class="CAT-list-item">{{tag}}</div>
                </a>
            </li>
            {{/each}}
        </div>
    </ul>
</main>