<main>
    <form action="/tags/add" method="POST">
        <label><input type="text" name="tag" placeholder="Tags"></label>
            <button> New Tag </button>
    </form>
    <ul>
        {{#each tags}}
        <li>
            <a href="/tags/{{id}}"><div>{{tag}}</div></a>
        </li>
        {{/each}}
    </ul>
</main>